/* * {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'avenir';
}

* h2 {
  margin-bottom: 0;
}

* p {
  margin-top: 0;
  opacity: 0.5;
} */

@import url('https://fonts.googleapis.com/css?family=Bree+Serif|Roboto+Slab&display=swap');

html {
  font-family: 'Roboto Slab', serif;
}
